# Ambiente Virtual
venv/
env/
ENV/

# Variáveis de ambiente
.env

# Arquivos Python compilados
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
migrations/

# Arquivos de cache
.cache
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/

# Arquivos de log
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Arquivos gerados pelo Flask
instance/
.webassets-cache

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
